# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db

# Distribution / Build
dist/
build/
*.egg-info/